.header .navbar-brand.logo {
  padding: 0;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-bottom: 1em;
  height: auto;
}
.header .navbar-brand.logo img {
  max-height: 50px;
}

.navbar-default .navbar-text {
  color: rgba(0, 0, 0, 0.35);
}

.navbar-default {
  background-color: white; 
}
.header .tagline {
  margin-top: 2em;
}
.header .options {
  margin-top: 10px;
}
.options .add , .options .profile {
  width: 40px;
  float: left;
  margin-right: 1em;
}
.options .add img, .options .profile img{
  width: 100%;
  margin: 1em;
}
.options .profile {
  width: 90px;
  height: 60px;
  padding: 0 5px;
}
.options .profile .pic {
  border-radius: 50%;
  max-width: 60px;
  margin: 0;
}
.options .profile .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}





.sidebar .title {
  padding: 1em;
  padding-left : 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  width: 80%;
  margin: 0 2% 2em 2%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.35);
  background: url(/images/signal.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: left;
  /*text-align: right;*/
}


.sidebar .topics {
  list-style-type: none;
  padding: 0;
}
.sidebar .topics li {
  margin:0.5em 0;
}
.sidebar .topics li a{
    color:  rgba(0, 0, 0, 0.35);
}
.sidebar .topics li.active a{
  color: #0C8458;
  border-left: 2px solid #0C8458;
  padding-left: 1em;
  font-weight: bold;
}



.content header {
  background: rgba(211, 211, 211, 0.3);
  border-radius: 5px;
  padding: 2em;
}

.content header h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #001F11;
}
.content header p {
  color:  rgba(0, 0, 0, 0.35);
}

.content .links ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}
.content .links ul li {

}
.content .links ul li .desc h2 {
  font-size: 16px;
}
.content .links ul li .desc h2 a {
  color: black;
}
.content .links ul li .desc h2 a:hover  {
  color: rgb(92, 92, 92);;
}
.content .links ul li .upvote button{
  border: none;
  background: url('/images/uparrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 52px;
  height: 52px;
  padding-top: 10px;
  margin-top: 1em;
}

.upvote button:focus {
  outline: 0;
  background: url('/images/uparrow_green.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 52px;
  height: 52px;
  padding-top: 10px;
  margin-top: 1em;
}

.content .links ul li .upvote button:hover {
  border: none;
  background: url('/images/uparrow_green.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 52px;
  height: 52px;
  padding-top: 10px;
  margin-top: 1em;
  margin-right: .3em;
}


.content .links ul li .desc p {
  color: gray;
}
.content .links ul li .user img {
  float: right;
  border-radius: 50%;
  max-width: 60px;
}

/*********************************************
*************************** ADD CONTENT BUTTON
*********************************************/

.cd-panel {
    /*...*/
      visibility: hidden;
    transition: visibility 0s 0.6s;
 
}
 
.cd-panel.is-visible {
    position: absolute;
    visibility: visible;
    transition: visibility 0s 0s;

}
 
.cd-panel-header {
    /*...*/
    position: fixed;
    top: -50px;
    left: 50%;
    width: 100%;
    height: 50px;
    z-index:20;
    transition: top 0.3s 0s;
    background: #ffd76a;
        padding: 0 10px 0 30px;

}

.cd-panel-header h1 {
 margin-top: 2px; 
display: inline-block;
}
 
.is-visible .cd-panel-header {
    top: 0;
    transition: top 0.3s 0.3s;
}


 
.cd-panel-container {
    /*...*/
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0px;
    padding-top: 100px;
    padding-left: 30px;
    right: 0;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index:19;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
 
     transform: translate3d(100%, 0, 0);
}
 
.is-visible .cd-panel-container {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
}

.cd-panel-close {
  padding-left: 30px;
  top: -50px;
  right: 0;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1em;
  
}

.cd-panel-close:hover {
  text-decoration: underline;
  color:white;
}


